body {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #dce0e8;
    color: #090101;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
  }
  
  .stopwatch {
    background-color: #ffffff;
    border-radius: 25px;
    padding:3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
  }
  
  .timer {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .minute, .second {
    font-size: 4rem;
  }
  
  .millisecond {
    font-size: 2rem;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: #95abde;
  }
  
  button:disabled {
    color: #c7c7cc;
  }
  
  .laps {
    margin-top: 1rem;
  }
  
  #lap-list {
    list-style-type: none;
    padding: 0;
  }
  
  #lap-list li {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 0;
  }
  